table.highlight tbody tr td{
    background-color: #fff;
    line-height: 1.5rem;
    padding: 10px 20px 10px 45px !important;
    margin: 0;
    border-bottom: 1px solid #e0e0e0;
}
table.highlight thead tr th{
    padding: 10px 20px 10px 25px !important;
}
table.highlight tbody tr td label{
    font-size: 1rem;
}
ul.collection,ul.collection li.collection-item{
    border:none;
    padding:5px 0;
}
@media only screen and (max-width: 601px) {
    .z-depth-2 label{
        font-size: 1rem;
    }
    .z-depth-2{
        padding: 5px 0px 5px 0px !important;
        box-shadow:none;
    }
    .card-panel{
        padding: 0px;
    }
}
@media only screen and (min-width: 801px){
    table.highlight tbody tr td.m3 {
        width: 25%;        
    }
    table.highlight tbody tr td.m9 {
        width: 75%;        
    }
}